.counterBox {
    display: block;
    flex-basis: calc(100% / 3);
    padding: 0.9em;
    text-align: center;
}

.counterTitle {
    font-size: 0.9em;
}

.counterValue {
    font-size: 1.3em;
}

.healthTitle {
    composes: counterTitle;
    padding-right: 0.3em;
}

.healthBarEmpty {
    display: block;
    width: 80%;
    height: 3px;
    margin: 0.4em auto 0;
    background-color: red;
}

.healthBarFull {
    height: 100%;
    display: block;
    background-color: green;
}

.pipTitle {
    composes: counterTitle;
    display: block;
}

.pipValue {
    font-size: 1.7em;
    padding-top: 0.3em;
}

.pipItem {
    padding: 0 0.2em;
}
