.popup {
    cursor: pointer;
    position: absolute;
    list-style-type: none;
    padding: 0;
    transition: height 2s;
    left: 7px;
    right: 7px;
    border-radius: 0.4em;
    background-color: #4D8C00;
}

.popup li {
    margin: 0 2px;
    padding: 0.3em;
    border: #4D8C00 solid 2px;
    background-color: #B3EE6B;
}

.popup li.backButton {
    width: 1em;
    margin-left: auto;
    background-color: #E46799;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup li:first-child {
    margin-top: 2px;
    border-top-right-radius: 0.4em;
}

.popup li:nth-child(odd) {
    border-top-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
}

.popup li:nth-child(even) {
    border-top-right-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
}

.popup li:last-child {
    margin-bottom: 2px;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
}
