@import './theme.scss';

.square {
    composes: shadowed from './theme.scss';

    box-sizing: border-box;
    width: calc(33% - 0.6em * 2);
    background-color: $main-bg;
    padding: 0.6em;
    margin: 0.6em;
    border: $main-strong solid 1px;
    position: relative;

    text-align: center;

    &::before {
        /* used to create the square effect */
        content: '';
        padding-top: 45%;
        float: left;
    }
}

.big {
    position: relative;
    top: calc(50% - 1em);
    font-size: 1.3em;
}
