.square {
    box-sizing: border-box;
    width: calc(33% - 0.4em * 2);
    background-color: #B3EE6B;
    padding: 0.4em;
    margin: 0.4em;
    border: #4D8C00 solid 3px;
}

@media screen and (min-width: 1200px) {
    .square {
        width: calc(25% - 0.4em * 2);
    }

    .square:nth-child(8n+2),
    .square:nth-child(8n+4),
    .square:nth-child(8n+7),
    .square:nth-child(8n+9) {
        border-top-left-radius: 0.4em;
        border-bottom-right-radius: 0.4em;
    }

    .square:nth-child(8n+3),
    .square:nth-child(8n+5),
    .square:nth-child(8n+6),
    .square:nth-child(8n+8) {
        border-top-right-radius: 0.4em;
        border-bottom-left-radius: 0.4em;
    }
}

@media screen and (max-width: 1199px) {
    .square:nth-child(odd) {
        border-top-left-radius: 0.4em;
        border-bottom-right-radius: 0.4em;
    }

    .square:nth-child(even) {
        border-top-right-radius: 0.4em;
        border-bottom-left-radius: 0.4em;
    }
}

.square::before {
    /* used to create the square effect */
    content: '';
    padding-top: 100%;
    float: left;
}
