$main-strong: #BA8B71;
$main-bg: #FFE8DB;
$highlight-strong: #AD6976;
$highlight-bg: #EDCCD3;
$alt1-bg: #C1C6CC;
$alt1-strong: #4E6279;
$alt2-bg: #FFF1DB;
$alt2-strong: #BA9D71;

$window-background: #FDFFFC;

$body-max-width: 900px;

.shadowed {
    box-shadow: 0 0.5em 2em -1em rgba(0, 0, 0, 1);
}

.insetShadowed {
    box-shadow: inset 0 0.3em 2.2em -1em rgba(0, 0, 0, 1)
}
